<div class="container">
  <h1 class="text-center"> <%= @artist.name %>'s Dashboard </h1>

<%= render partial: "shared/nav_artist"%>


<section class="artist_dashboard_tattoos">
    <%= button_to "Add New Tattoo", new_artist_tattoo_path(id: @artist.id), method: :get, class: "btn btn-primary" %>
  
  <h3 class="text-center">Your Available Tattoos</h3>
  <% @tattoos.each do |tattoo| %>
    <div id="tattoo-<%= tattoo.id %>" class="tattoo_option" >
      <img src="<%= tattoo.image_url %>", class="img-fluid" alt="Tattoo Image"><br>

      <table class="table">
        <tr>
          <th scope="row">Price:</th>
          <td><%= tattoo.price %></td>
        </tr>
        <tr>
          <th scope="row">Duration:</th>
          <td><%= tattoo.time_estimate %> min</td>
        </tr>
          <div class="btn-group" role="group" aria-label="tattoo_actions">
            <tr>
              <%= link_to 'Edit', edit_artist_tattoo_path(id: @artist.id), method: :patch, class: "btn btn-secondary" %>
            </tr>
            <tr>
              <%= link_to 'Delete', artist_tattoo_path(id: @artist.id), method: :delete, class: "btn btn-danger" %>
            </tr>
          </div>
      </table>
    </div>
  <% end %>
</section>

<%= button_to 'Sign Out', sign_out_path, method: :delete %>

<style>
.container {
  padding: 20px;
}

.artist_dashboard_tattoos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.tattoo_option {
  text-align: center;
}

.tattoo_option img {
  max-width: 100%;
  height: auto;
}

.table {
  margin-bottom: 10px;
}

.btn-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 576px) {
  .artist_dashboard_tattoos {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
</style>