<div class="container">
  <h1 class="text-center"> <%= @artist.name %>'s Dashboard </h1>

<%= render partial: "shared/nav_artist"%>

<section class="artist_dashboard_tattoos">
    <%= button_to "Add New Tattoo", new_artist_tattoo_path(id: @artist.id), method: :get, class: "btn btn-primary" %><br>
  
  <h3 class="text-center">Your Available Tattoos</h3>
  <% @tattoos.each do |tattoo| %>
    <div id="tattoo-<%= tattoo.id %>" class="tattoo_option" >
      <img src="<%= tattoo.image_url %>", class="img-fluid" alt="Tattoo Image"><br>

      <table class="table">
        <tr>
          <th scope="row">Price:</th>
          <td><%= tattoo.price %></td>
        </tr>
        <tr>
          <th scope="row">Duration:</th>
          <td><%= tattoo.time_estimate %> min</td>
        </tr>
          <div class="btn-group" role="group" aria-label="tattoo_actions">
            <tr>
              <%= link_to 'Edit', edit_artist_tattoo_path(@artist.id, tattoo.id), method: :patch, class: "btn btn-secondary" %><br>
            </tr>
            <tr>
              <%= link_to 'Delete', artist_tattoo_path(id: @artist.id), method: :delete, class: "btn btn-danger" %>
            </tr>
          </div>
      </table>
    </div>
  <% end %>
</section>

<%= button_to 'Sign Out', sign_out_path, method: :delete %>
