<div class="container">
  <h1 class="text-center"> <%= @artist.name %>'s Profile </h1>

  <%= render partial: "shared/nav_artist"%>

  <%= button_to "Edit Profile", edit_artist_path(id: @artist.id), method: :get, class: "btn btn-primary btn-lg btn-block mt-3" %>

  <section class="artist_info">
    <p><strong>Name:</strong> <%= @artist.name %></p>
    <p><strong>Email:</strong> <%= @artist.email %></p>
    <p><strong>Location:</strong> <%= @artist.location %></p>
  </section>

  <section class="artist_identities">
    <p><strong>I identify as:</strong></p>
    <ul>
      <% @identities.each do |identity| %>
        <li><%= identity.label %></li>
      <% end %>
    </ul>
  </section>

  <div class="row">
    <div class="col-6">
      <%= button_to 'Sign Out', sign_out_path, method: :delete %>
    </div>
    <div class="col-6">
      <%= button_to 'Delete Account', artist_path(id: @artist.id), method: :delete %>
    </div>
  </div>
</div>