<div class="container">
  <h1 class="text-center"><%= @user.name %>'s Liked Tattoos</h1>

  <%= render partial: "shared/nav_user" %>

  <section class="user_liked_tattoos">
    <% @tattoos.each do |tattoo| %>
      <div class="tattoo_option">
        <img src="<%= tattoo.image_url %>" style="max-width: 100%; max-height: 350px;"><br>

        <div class="remove-button">
          <%= button_to "Remove", user_tattoo_path(user_id: @user.id, id: tattoo.id), method: :delete %>
        </div>

        <table class="table">
          <tr>
            <th>Cost:</th>
            <td><%= tattoo.price %></td>
          </tr>
          <tr>
            <th>Duration:</th>
            <td><%= tattoo.time_estimate %> min</td>
          </tr>
        </table>
        <p><%= link_to "Schedule Appointment", "https://#{tattoo.scheduling_link}", target: "_blank", class: "btn btn-success" %></p>
      </div>
    <% end %>
  </section>

  <%= button_to 'Sign Out', sign_out_path, method: :delete %>
</div>
