<center>
<h1> <%= @user.name %>'s Profile </h1>
</center>

<%= render partial: "shared/nav_user"%>

<%= button_to "Edit Profile", edit_user_path(id: @user.id), method: :get %>
<section>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Location: <%= @user.location %></p>
<p>Search Radius: <%= @user.search_radius %> miles</p>
</section>

<section class="identity_pref">
  <p>I would like to support artists who are:</p>
  <ul>
  <% @user_identities.each do |identity| %>
    <li> <%= identity.label %></li>
  <% end %>
  </ul>
</section>
<%= button_to 'Sign Out', sign_out_path, method: :delete %>

<%= button_to 'Delete Account', user_path(id: @user.id), method: :delete %>