<center>
<h1>Welcome to</h1>
<h1>TattDaddy</h1>
</center>

<center>
<section class="sign_in">
  <%= form_with url: sign_in_path, local: true, data: {turbo: false} do |form|%>
    <%= form.email_field :email, placeholder: "Email", name: "sign_in[email]" %><br>
    <%= form.password_field :password, placeholder: "Password", name: "sign_in[password]" %><br>
    <%= form.submit "Sign In as User", name: "sign_in[type]" %>
    <%= form.submit "Sign In as Artist", name: "sign_in[type]" %>
  <% end %>
</section>
</center>

<center>
<section>
  <br>
  <%= link_to 'Create User Account', new_user_path %>
  <%= link_to 'Create Artist Account', new_artist_path %>
</section>
</center>
